.about-container {
  background: linear-gradient(74deg, #6CDD4F 2.32%, #00767B 95.94%);
  min-height: calc(100vh - $nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-heading {
    font-size: 48px;
    margin: 75px 0 20px;
    font-weight: 600;
    @media (max-width: $screen-sm) {
      margin-bottom: 10px;
      line-height: 52px;
      font-size: 30px;
    }
  }

  .about-description{
      font-size: 30px;
      font-weight: 400;
      @media (max-width: $screen-sm) {
        font-size: 18px;
      }
  }

  .card-container {
    display: flex;
    justify-content: space-between;

    margin: 50px 0 75px;
    width: 70vw;
    .card {
      padding: 20px;

      width: 220px;

      border-radius: 15px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      h2 {
        font-size: 50px;
      }
      p {
        font-size: 32px;
      }
    }
  }

  @media (max-width: $screen-md) {
    .card-container {
      .card {
        margin: 10px;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: $screen-xs) {
    .text {
      margin-left: 20px;
    }
    .card-container {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0 50px 20px;
      .card {
        width: 200px;
        margin-block: 15px;
      }
    }
  }
}
