.footer-container {
  position: relative;
  .footer {
    height: 75px;
    background: rgb(1, 140, 240);
    background: linear-gradient(
      90deg,
      rgba(1, 140, 240, 1) 0%,
      rgba(109, 222, 80, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    .copyright {
      font-weight: 500;
    }
    @media (max-width: $screen-sm) {
      .copyright {
        width: 300px;
      }
    }
    @media (max-width: $screen-xs) {
      box-sizing: border-box;
      font-size: 14px;
      .copyright {
        width: 160px;
      }
    }
  }
}
