.footer-container {
  position: relative;
  .footer {
    height: 75px;
    background: $qweb-gradient-2;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    .copyright {
      font-weight: 500;
    }
    @media (max-width: $screen-sm) {
      .copyright {
        width: 300px;
      }
    }
    @media (max-width: $screen-xs) {
      box-sizing: border-box;
      font-size: 14px;
      .copyright {
        width: 160px;
      }
    }
  }
}
