.hero-container {
  background-color: $qweb-dark-blue;
  background-size: cover;

  margin-top: $nav-height;

  min-height: calc(100vh - $nav-height);

  width: 100vw;

  position: relative;
  
  .bottom-left-image {
    width: 1024.52px;
    height: 725.12px;
    bottom: 0;
    right: 0;
    background-image: url('../../public/brand/left\ top\ blob.png');
    background-size: cover;
  }

  .top-right-image {
    width: 648px;
    height: 907px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../public/brand/right\ top\ blob.png'); 
    background-size: cover;
  }

  .text-box {
    padding-top: 75px;

    h3 {
      color: $qweb-white;
      font-size: 30px;
      font-weight: 200;

      letter-spacing: 2px;

      max-width: 1000px;

      position: relative;

      padding: 1rem;
      
      padding-left: 80px;
    }

    h1 {
      background: $qweb-gradient-1;
      background-clip: text;
      color: transparent;

      font-size: 80px;
      font-weight: 800;

      letter-spacing: 2px;

      max-width: 1000px;

      position: relative;

      padding-left: 75px;
    }

    button {
      background: $qweb-gradient-2;
      color: $qweb-white;

      border-radius: 50px;

      padding: 10px 35px;
      margin-top: 30px;

      font-size: 24px;
      font-weight: 500; 

      margin-left: 75px;

      transition: all 500ms linear;
      cursor: pointer;
      &:hover {
        color: $qweb-light-gray;
        border-color: $qweb-light-gray;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 1px $qweb-light-gray inset;
      }
    }
  }
  // @media (max-width: $screen-md) {
  //   .text-box {
  //     padding-left: 90px;
  //     h1 {
  //       font-size: 62px;
  //       max-width: 70vw;
  //     }
  //   }
  // }
  // @media (max-width: $screen-sm) {
  //   h1 {
  //     font-size: 62px;
  //     font-weight: 600;
  //   }
  // }
  @media (max-width: $screen-xs) {
    .hero-container {
      background-color: $qweb-dark-blue;
      min-height: calc(100vh - $nav-height-mobile);
      margin-top: $nav-height-mobile;
  
      .bottom-left-image,
      .top-right-image {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 50vh;
        object-fit: cover;
      }
  
      .bottom-left-image {
        bottom: 0;
        right: 0;
        background-image: none;
      }
  
      .top-right-image {
        position: absolute;
        top: 0;
        right: 0;
        background-image: none;
      }
  
      .text-box {
        padding: 30px 0 0 52px;
  
        h3 {
          font-size: 30px;
          padding-left: 0;
        }
  
        h1 {
          font-size: 42px;
          padding-left: 0;
        }
  
        button {
          padding: 5px 20px;
          margin-top: 10px;
          font-size: 24px;
        }
      }
    }
  }
  
}