.nprojects-container {
    background-color: #1E1E1E;
    width: 100%;
    min-height: calc(100vh - $nav-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 40px;
}
.nprojects-heading {
    margin-top: 150px;
    font-size: 64px;
    padding-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(#6CDD4F, #00767B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    h1 {
        
        text-align: center;
    }
}
.nprojects-img {
    border-radius: 20px;
    position: absolute;
}

.nprojects-name {

    width: 660px;
    background-image: linear-gradient(to left, #6CDD4F, #00767B);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-box {
    width: 660px;
    margin-top: 378px;
    font-weight: bold;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.npadding {
    width: 540px;
    font-size: 27px;
}
.arrow {
    font-size: 32px;
    font-weight: bold;
    transform: rotate(180deg);
    filter: invert(100%);
    transition: 'transform 0.2s ease';
    transform: rotate(180deg);
}
.nprojects-p {
    width: 1438px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
}
.nproject-description {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    
}
