.blob-text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.blob-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, auto));
}

@media (max-width: 1023px) {
  .blob-grid {
    grid-template-columns: repeat(2, minmax(0, auto));
    gap: 24px;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .blob-grid {
    gap: 24px;
    grid-template-columns: repeat(3, minmax(0, auto));
    grid-template-rows: 120px 120px; 
    width: 75%;
  }
}

@media (max-width: 540px) {
  .blob-grid {
    gap: 0px;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-template-rows: 120px 120px 120px; 
    width: 95%;
  }
}


