.process-container {
  background-color: $qweb-light-gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;

  .text {
    margin-top: 70px;
  }

  img {
    margin: 30px 0 50px;
    width: 60vw;
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 50px;
    .text,
    img {
      margin-left: 20px;
    }

    // Until we get the mobile asset
    img {
      display: none;
    }
  }
}
