.projects-container {
  background: linear-gradient(74deg, #6cdd4f 2.32%, #00767b 95.94%);

  padding-bottom: 75px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  .mobile-nav {
    display: none;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 3rem;
  }

  .image {
    height: 600px;
    object-fit: cover;
  }

  .text-box {
    width: 70vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1rem;

    h1 {
      font-size: 40px;
    }

    a {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;

      position: relative;

      padding-bottom: 5px;
      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  .arrow {
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 50%;
  }
  .right-arrow {
    color: white;
  }
  .left-arrow {
    color: white;
  }

  .nav-wrapper {
    height: 330px;
    width: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .left-wrapper {
    left: -260px;
    top: 100px;
  }
  .right-wrapper {
    right: -260px;
    top: 100px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    border-radius: 30px;
    overflow: hidden;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  @media (max-width: 1800px) {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
      .arrow {
        position: absolute;
        height: 40px;
        top: 45%;
      }
      .left-arrow {
        left: -150px;
      }
      .right-arrow {
        right: -150px;
      }
    }

    .image {
      max-width: 1100px;
      height: auto;
    }

    .text-box {
      margin-top: 5rem;
      h1 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 1500px) {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
      .arrow {
        position: absolute;
        height: 40px;
        top: 45%;
      }
      .left-arrow {
        left: -150px;
      }
      .right-arrow {
        right: -150px;
      }
    }

    .image {
      max-width: 900px;
      height: auto;
    }

    .text-box {
      margin-top: 5rem;
      h1 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 1200px) {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
      .arrow {
        position: absolute;
        height: 40px;
        top: 45%;
      }
      .left-arrow {
        left: -100px;
      }
      .right-arrow {
        right: -100px;
      }
    }

    .image {
      max-width: 700px;
      height: auto;
    }

    .text-box {
      margin-top: 5rem;
      h1 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: $screen-md) {
    .image {
      height: 260px;
    }

    .nav-wrapper {
      width: 150px;
      height: 260px;
    }
    .left-wrapper {
      left: -100px;
    }
    .right-wrapper {
      right: -100px;
    }

    .arrow {
      height: 40px;
    }
    .left-arrow {
      margin-right: 50px;
    }
    .right-arrow {
      margin-left: 50px;
    }
  }

  @media (max-width: $screen-sm) {
    padding-bottom: 50px;

    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
      .arrow {
        position: absolute;
        bottom: 45%;
        height: 30px;
      }
      .left-arrow {
        left: -60px;
      }
      .right-arrow {
        right: -60px;
      }
    }

    .image {
      max-width: 400px;
      height: auto;
    }

    .text-box {
      margin-top: 5rem;
      h1 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: $screen-xs) {
    .text-box {
      margin-left: 20px;
    }
    .text .heading {
      margin-left: 10px;
    }
    .mobile-nav {
      .arrow {
        height: 22px;
      }
      .left-arrow {
        left: -35px;
      }
      .right-arrow {
        right: -35px;
      }
    }

    .image {
      max-width: 75vw;
    }
    .carousel-container {
      margin-block: 20px;
    }
  }
}