.tech-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: #1e1e1e;
  height: calc(100vh - 100px);
  gap: 2rem;
  .text {
    margin-top: 3rem;
  }

  .card-container {
    margin-top: 6rem;

    width: 70vw;

    display: flex;
    justify-content: center;
    gap: 1rem;
    .card {
      width: 175px;

      border-radius: 15px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: center;

      padding-block: 20px;
      margin-inline: 5px;

      transition: all 350ms ease-in-out;
    }

    img {
      height: 100px;
    }
  }

  @media (max-width: $screen-md) {
    .card-container {
      margin-top: 40px;
      margin-left: -20px;
      .card {
        width: 120px;
      }
      img {
        height: 80px;
      }
    }
  }

  @media (max-width: 900px) {
    margin-left: 20px;
    .card-container {
      flex-wrap: wrap;
      margin: 20px 0 50px -20px;
      justify-content: center;
      gap: 0;
      .card {
        max-width: 150px;
        margin: 5px;
      }
      img {
        height: 70px;
      }
    }
  }
  @media (max-width: $screen-xs) {
    .card-container {
      .card {
        max-width: 100px;
      }
      img {
        height: 60px;
      }
    }
  }
}
